module.exports = {
  production: true,
  integrations: {
    cities: {
      url: ''
    },
    languages: {
      url: ''
    },
    users: {
      url: ''
    }
  },
  cookie: {
    secret: ''
  },
  redis: {
    port: '',
    host: '',
    secret: ''
  }
};
